body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
h1
{
    text-align: center;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.sas1
{
    padding-left:30px;
    
}
.ha
{
    background:#C837B6;
    padding : 45 45 45 45;
     font-size: 200%;
}
.haa
{
    padding : 45 45 45 45;
     font-size: 150%;
    
}
.sos    {
                padding-left:30px;
                padding-right:30px;
            } 
.s
{
    background : yellow;
    color:#fff;
    padding:8px 13px;
    display:inline-block;
    
}