body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
h1
{
    text-align: center;
}
#img
{
    height:300px;
    width:400px;
    margin-left : 50px;
    
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#sas1
{
    padding-right:30px;
    
}
.container
{
    background:#C837B6;
    padding : 45 45 45 45;
     font-size: 200%;
}
.ha
{
    padding : 45px 45px 45px 45px;
     font-size: 150%;
    
}

.haa
{
    padding : 45 45 45 45;
     font-size: 150%;
    
}
.sos    {
                padding-left:30px;
                padding-right:30px;
            } 
.s
{
    background : green;
    color:#fff;
    padding:8px 13px;
    display:inline-block;
    text-shadow:0 2px 2px white;
    border-bottom:3px green;
}